
html{
    font-size: 8px;
}
:root{

    --search-bar-height:2rem;
    --search-container-left:22%;
    --sort-container-left:70%;


}
/* body{ */
/*     background-color: green; */
/* } */

a{
    color: #3498db;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

th{
    background-color: #f4f4f4;
}
th,td{
    padding: 1.25rem;
    border: 0.25rem solid #ddd;
    text-align: left;
}
table{
    width: 100%;
    border-collapse: collapse;
    position: absolute;
    top: 25%;
    z-index: -1;
}

a .del{
    color: red;
}


.search_bar{
border: 0.25rem sold gray;
padding: 0.75rem;
width: 25rem;
height: var(--search-bar-height);
position: absolute;
left:var(--search-container-left);
top: 2%;
}

body>h1{
    position: absolute;
    top: 2%;
    left: 5%;
}

.search_bar:hover,
.search_bar:focus{
    border: 0.25rem solid green;

}

#search_results{
    height: max-content;
    width: 25rem;
    position: relative;
    top:0;
    left:0; 
    background-color:#506973ff;
    padding-left: 1rem;
}

#search_results>*:hover{
background-color: yellow;
    color: magenta;
}

#search_results>*{
    padding: 1rem;
}

#suggestions{
background-color:pink;
color: black;
position: relative;
width: 25%;
height: max-content;
/* top: calc(var(--search_results_top)+10rem); */
/* left: var(--search_results_top_offset); */
top: 0;
left: 0;

}

.search_container{
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    gap:1rem;
    position: absolute;
    left: var(--search-container-left);
    top:12%;
    background-color:#87f;
    padding: 0.75rem;

}

.sort_container{

position: absolute;
top: 2%;
left:var(--sort-container-left);
width: max-content;
height: max-content;
padding: 0.25rem;
display: grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: 1fr;
gap:0.25rem;
align-items: last baseline;


}
.pages_cont{
    display: flex;
    flex-flow: row nowrap;
}

.logout{
    position: absolute;
    top: 2%;
    left: 90%;
    background-color: red;
    color: white;
}


.page_no{
    width: 1rem;
    height: 1rem;
    background-color: green;
    color: white;
    flex-grow: 0;
    position: absolute;
    bottom: 10%;
    left: 50%;
}

.active{
background-color: purple;
color: white;
transform: scale(2.0);

}

.new_post{

background-color: green;
padding: 1rem;
width: max-content;
height: 2rem;
align-items: center;
justify-content: center;
position: absolute;
top: 2%;
left: 60%;
color: white;
align-content: center;
}

.manage_users{
background-color:#a5785fff ;
padding: 1rem;
width: max-content;
height: 2rem;
align-items: center;
justify-content: center;
position: absolute;
top: 2%;
left: 50%;
color: white;
align-content: center;
}


.hamburger{

    width: 2rem;
    height: 2rem;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

}

.close_hamburger{

    width: 2rem;
    height: 2rem;
    object-fit: contain;
    position: absolute;
    z-index: 21;
    top: 0;
    right: 0;



}

.close_hamburger:hover{

    background-color: blue;

}

.sidebar{

    width: 25vw;
    height: 100vh;
    padding: 4rem;
    background-color:rgb(160 195 95 / 85%) ;
    transform: translateX(-100%);
    transition: 200ms transform ease-in 0s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    /* justify-content: center; */
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    overflow: hidden;

}

.show_sidebar{
    
    transform: translateX(0%);
    


    flex-grow:0}

.hide_form{

    display:flex;


}

.myform{

    width: min-content;
    max-width: 100%;
    height: min-content;
    padding: 1rem;
    /* align-items: center; */
    display:flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    background-color:#877d64 ;
    justify-self: center;
    align-self: center;
    position: absolute;
    top: 25%;
    gap: 2rem;
    flex-grow: 0;
}

.myform>*{
    box-sizing: border-box;
}

.clear_filters{

    padding: 1rem;
    background-color:#8200aaff ;
    position: relative;
    top: 80%;
    /* left: 15%; */
justify-content: center;
align-items: center;
align-self: center;
justify-items: center;
justify-self: center;



}



