
html{
    font-size: 8px;
}
:root{

    --search-bar-height:2rem;
    --search-container-left:22%;
    --sort-container-left:70%;


}
/* body{ */
/*     background-color: green; */
/* } */

a{
    color: #3498db;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

th{
    background-color: #f4f4f4;
}
th,td{
    padding: 1.25rem;
    border: 0.25rem solid #ddd;
    text-align: left;
}
table{
    width: 100%;
    border-collapse: collapse;
}

a .del{
    color: red;
}


.search_bar{
border: 0.25rem sold gray;
padding: 0.75rem;
width: 25rem;
height: var(--search-bar-height);
position: absolute;
left:var(--search-container-left);
top: 2%;
}


.search_bar:hover,
.search_bar:focus{
    border: 0.25rem solid green;

}

#search_results{
    height: max-content;
    width: 25rem;
    position: relative;
    top:0;
    left:0; 
    background-color:#506973ff;
    padding-left: 1rem;
}

#search_results>*:hover{
background-color: yellow;
    color: magenta;
}

#search_results>*{
    padding: 1rem;
}

#suggestions{
background-color:pink;
color: black;
position: relative;
width: 25%;
height: max-content;
/* top: calc(var(--search_results_top)+10rem); */
/* left: var(--search_results_top_offset); */
top: 0;
left: 0;

}

.search_container{
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    gap:1rem;
    position: absolute;
    left: var(--search-container-left);
    top:15%;
    background-color:#87f;
    padding: 0.75rem;

}

.sort_container{

position: absolute;
top: 2%;
left:var(--sort-container-left);
width: max-content;
height: max-content;
padding: 0.25rem;
display: grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: 1fr;
gap:0.25rem;
align-items: last baseline;


}
.pages_cont{
    display: flex;
    flex-flow: row nowrap;
}

.page_no{
    width: 1rem;
    height: 1rem;
    background-color: green;
    color: white;
    flex-grow: 0;
}

.active{
background-color: purple;
color: white;

}



